################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
/.vs
*.exe
*.ilk
*.pdb
*.obj
